/* BODY */
html{
    font-size: 18px;
    line-height: 1.5;
    /* text-size adjust is to maintain the text-size even when the users rotates their phone to landscape view */
    -webkit-text-size-adjust: 100%;
    /* Firefox supports only the android version and safari supports only the ios version at the moment according to MDN (2023)*/
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

[data-theme="light"] {
    body {
        background-color: #fbfbfe;
        color: #040316;
    }

    /* Add button styles */
    button {
        background-color: #2f27ce;
        color: #eae9fc;
    }
    
    .bg-light-blue {
        background-color: #3b82f6; /* Lighter blue */
    }
    .text-bw {
        color: #000000; /* Black text for light mode */
    }

    .deep-blue {
        background-color: #3a31d8 !important;
        color: #eae9fc;
    }

    .deep-blue-light {
        background-color: rgba(45, 45, 45, 1);
        border: 2px solid #3a31d8;
    }


    .button-outline{
        padding: 10px 15px;
        border: 2px solid #0600c2;
        color: #040316;
        text-decoration: none;
        border-collapse: separate;
        border-spacing: 10px;
    }

    .button-outline:hover, .button-outline:active{
        border: 2px solid #0600c2;
        background-color: #0600c2;
        color: white
    }

    .card{
        box-shadow: 0 0px 0px; 
        border: 2px solid #0600c2;
    }

    .logo{
        background-color: #eae9fc;
        padding: 2px;
        border-radius: 4px;
        width: 10%;
    }

    footer{
        color: #040316;
        text-align: center;
        padding: 20px 0px;
    }
}

[data-theme="dark"] {
    body {
        background-color: #010104ec;
        color: #eae9fc;
    }

    .deep-blue {
        background-color: #3a31d8;
    }

    .deep-blue-light {
        background-color: rgba(45, 45, 45, 1);
        border: 2px solid #3a31d8;
    }

    .bg-light-blue {
    background-color: #1e3a8a; /* Darker blue */
    }
    
    .text-bw {
        color: #ffffff;
    }

    .button-outline{
        border: 2px solid #0600c2;
        color: #eae9fc;
        text-decoration: none;
        padding: 10px 15px;
        border-collapse: separate;
        border-spacing: 10px;
    }

    .button-outline:hover, .button-outline:active{
        border: 2px solid #0600c2;
        background-color: #0600c2;
    }

    .card{
        box-shadow: 0 0px 0px; 
        border: 2px solid #0600c2;
    }

    .logo{
        background-color: #eae9fc;
        padding: 2px;
        border-radius: 4px;
        width: 10%;
    }

    footer{
        color: #eae9fc;
        text-align: center;
        padding: 20px 0px;
    }
}

body {
    background-color: rgba(253, 244, 244, 30%);
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0px;
}

button {transition: all var(--global-transition-time) ease-in-out;
    border-radius: 2rem;
    cursor: pointer;
    color: #443dff;
    background-color: #dddbff;
    border: 0.25rem solid #dddbff;
    }

/*-------------------------------------------*/


/* GENERAL */
/* Fonts */
.large{
    font-weight: normal;
    line-height: normal;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 5rem;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;  
    background-image: linear-gradient(135deg, #443dff 15%, #dddbff 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-wrap: break-word;
}

.medium-spacing{
    font-weight: normal;
    line-height: normal;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 4rem;
    letter-spacing: 4px;
    margin: 0px;
}

.app-title{
    font-weight: normal;
    line-height: normal;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 0px;
}

.main-title{
    font-weight: normal;
    line-height: normal;
    font-size: 1.5rem;
}

.colorful-letter{
    color: linear-gradient(135deg, #3a31d8 20%, #3a31d8 100%);
}

/* Background colors */
.deep-blue{
    background-color: #3a31d8;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.deep-blue-light{
    background-color: #3a31d8;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

/* Setting alignments and sizing */
/* for the flexbox */
.wrapper{
    max-width: 950px;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 20px 20px;
}

.column{
    flex: 50%;
}

.w-900{
    max-width: 950px;
    margin: auto;
}

/* for the grid system */
.grid-system-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* other */
.max-width{
    max-width: 450px;
}

.max-height{
    max-height: 350px;
}

.align-center{
    align-self: center;
}

.justify{
    text-align: justify;
}

.center{
    text-align: center;
}

.padding{
    padding: 20px;
}

.padding-top{
    padding-top: 20px;
}

.padding-bottom{
    padding-bottom: 20px;
}

.margin-auto{
    margin: auto;
}

/* for sticky bottom button */

.bottom{
    align-self: flex-start;
    margin-top: auto;
}

.no-padding-list-item{
    padding-left: 0;
}

.no-bullet-list{
    list-style-type: none;
}
/* ---------------------------------- */

/* ANIMATIONS AND OTHER BEAUTIES */

.progress-bar:hover, .progress-bar:active {
    box-shadow: 5px 5px 5px #bc7dff;
    transition: box-shadow 1s ease;
}

/* ---------------------------------- */

/* FOOTER */
footer{
    color: #000000;
    text-align: center;
    padding: 20px 0px;
}
/* ---------------------------------- */

/* INTRODUCTION */
.header-img{
    border-radius: 70%;
}
/* ---------------------------------- */


/* ABOUT ME */
/* Everything here is made with general classes. Find them in the GENERAL section */
/* ---------------------------------- */

/* SKILLS */
.skills {
    list-style: none;
    text-transform: uppercase;
}

.progress-bar {
    background-color: #353b48;
    display: block;
    height: 10px;
    border-radius: 20px;
}

.progress-bar span {
    height: 10px;
    float: left;
    background: linear-gradient(135deg, #443dff 20%, #dddbff 80%);
    border-radius: 20px;
    -webkit-background: linear-gradient(135deg, #443dff 20%, #dddbff 80%);
    -webkit-border-radius: 20px;
}

.python {
    width: 90%;
    animation: python 3s;
}

.htmlcss {
    width: 75%;
    animation: htmlcss 3s;
}

.javascript {
    width: 63%;
    animation: javascript 3s;
}

.sql {
    width: 54%;
    animation: sql 3s;
}

.comm-adapt {
    width: 90%;
    animation: comm-adapt 3s;
}

.team-player {
    width: 85%;
    animation: team-player 3s;
}

.problem-solving {
    width: 82%;
    animation: problem-solving 3s;
}

.open-minded {
    width: 75%;
    animation: open-minded 3s;
}

@keyframes python {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 63%;
    }
}

@keyframes sql {
    0% {
        width: 0%;
    }
    100% {
        width: 54%;
    }
}

@keyframes comm-adapt {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes team-player {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes problem-solving {
    0% {
        width: 0%;
    }
    100% {
        width: 82%;
    }
}

@keyframes open-minded {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}
/* ---------------------------------- */

/* PROJECTS */
/* I also used these card settings on other sub-pages */
.card{
    box-shadow: 0 3px 10px rgb(127 110 187 / 0.2); 
    padding: 20px;
}

.box{
    display: block;
    width: 100px;
    margin: auto;
}
/* ---------------------------------- */

/* CONTACT ME */
.box-contact{
    display: block;
    width: 100%; 
    text-align: center;
}

/* ---------------------------------- */

/* SPECIAL THANKS */
/* Everything here is made with general classes. Find them in the GENERAL section */
/* ---------------------------------- */

/* RESPONSIVENESS */
/* Had to pay attention for that window.innerWidth when calculated max-width */
@media screen and (max-width: 600px){
    body{
        font-size: 90%;
    }

    .grid-system-2{
        grid-template-columns: 1fr;
    }

    .large{
        font-size: 4rem;
    }

    .medium-spacing{
        font-size: 2.5rem;
    }

    .main-title-large{
        font-size: 2rem;
        text-align: center;  
        margin: 0;
    }

    .main-title{
        text-align: center;
        margin: 0;
    }

    .small{
        font-size: 0.6rem;
    }

    .max-width{
        max-width: 300px
    }

    .max-height{
        max-height: 250px;
    }

    .padding-top{
        padding-top: 10px;
    }
    
    .padding-right{
        padding-right: 10px;
    }

    .padding-bottom{
        padding-bottom: 10px;
    }
    
    .padding-left{
        padding-left: 10px;
    }

    .logo{
        width: 40px;
    }
    
}

/* --  nav bar flexbox organization to position buttons on opposite sides -- */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-theme="dark"] .project-button a{
    margin-left: auto;
    color: white;
}

[data-theme="light"] .project-button a{
    margin-left: auto;
    color: white;
}
/* ---------------------------------- */

/* wrapper on home page looks better with this @media */
@media screen and (max-width: 750px){
    .wrapper{
        flex-direction: column;
        gap: 20px 0px;
    }

    .column{
        flex: 100%;
    }

    .box{
        margin: auto;
    }

    .thanks{
        text-align: center;
    }
}



@media screen and (max-width: 929px) {
        .deep-blue-light {
            margin-left: 10px;
            margin-right: 10px;
        }
    }


