/* MEDIA OVERWRITE AND NEW SETTINGS */
[data-theme="light"] {
    body {
        background-color: #fbfbfe;
        color: #040316;
        font-size: 18px;
        line-height: 1.5;
    }

    /* Add button styles */
    button {
        background-color: #2f27ce;
        color: #eae9fc;
    }

    .baby-pink {
        background-color: #3a31d8;
        color: #eae9fc;
    }

    .baby-pink-light {
        background-color: rgba(45, 45, 45, 1);
        border: 2px solid #3a31d8;
    }

    .main-nav {
        background-color: #fbfbfe;
    }

    .main-nav li a {
        color: #040316;
    }

    .main-nav li a:hover {
        color: #2f27ce;
    }

    #main-toggle{
        border: 1px solid rgba(255, 255, 255, 0.6);
        background-color: rgba(45, 45, 45, 1);
    }
    
    .nav-icon{
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    .nav-icon::before,
    .nav-icon::after{
        background-color: rgba(255, 255, 255, 0.6);
    }

    .button-outline{
        border: 2px solid #0600c2;
        color: #040316;
    }

    .button-outline:hover, .button-outline:active{
        border: 2px solid #0600c2;
        background-color: #0600c2;
    }

    .card{
        box-shadow: 0 0px 0px; 
        border: 2px solid #0600c2;
    }

    .logo{
        background-color: #eae9fc;
        padding: 2px;
        border-radius: 4px;
    }

    .hobbies{
        background-color: #eae9fc;
        border-radius: 100%;
        padding: 10px;
    }

    footer{
        color: #040316;
    }
}

[data-theme="dark"] {
    body {
        background-color: #010104ec;
        color: #eae9fc;
        font-size: 18px;
        line-height: 1.5;
    }

    .baby-blue {
        color:#009bfb;
    }


    .baby-pink {
        background-color: #3a31d8;
    }

    .baby-pink-light {
        background-color: hsla(240, 60%, 1%, 0.925);
        border: 2px solid #3a31d8;
    }

    .main-nav {
        background-color: #01010400;
    }

    .main-nav li a {
        color: #eae9fc;
    }

    .main-nav li a:hover {
        color: #3a31d8;
    }

    #main-toggle{
        border: 1px solid rgba(255, 255, 255, 0.6);
        background-color: #010104ec;
    }
    
    .nav-icon{
        background-color: #010104ec;
    }
    
    .nav-icon::before,
    .nav-icon::after{
        background-color: #010104ec;
    }

    .button-outline{
        border: 2px solid #0600c2;
        color: #eae9fc;
    }

    .button-outline:hover, .button-outline:active{
        border: 2px solid #0600c2;
        background-color: #0600c2;
    }

    .card{
        box-shadow: 0 0px 0px; 
        border: 2px solid #0600c2;
    }

    .logo{
        background-color: #eae9fc;
        padding: 2px;
        border-radius: 4px;
    }

    .hobbies{
        background-color: #eae9fc;
        border-radius: 100%;
        padding: 10px;
    }

    footer{
        color: #eae9fc;
    }
}

/* Setting alignments and sizing */
/* for the flexbox */
.wrapper{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 20px 20px;
}

.column{
    flex: 50%;
}

.w-900{
    max-width: 1300px;
    margin: auto;
}

/* for the grid system */
.grid-system-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grid-system-4{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

/* other */
.max-width{
    max-width: 450px;
}

.max-height{
    max-height: 350px;
}

.align-center{
    align-self: center;
}

.justify-content{
    justify-content: right;
}

.justify{
    text-align: justify;
}

.center{
    text-align: center;
}

.padding{
    padding: 20px;
}

.padding-top{
    padding-top: 20px;
}

.padding-right{
    padding-right: 20px;
}

.padding-bottom{
    padding-bottom: 20px;
}

.padding-left{
    padding-left: 20px;
}

.margin-auto{
    margin: auto;
}

.margin-trbl10{
    margin: 10px;
}

/* for sticky bottom button */
.flex{
    display: flex;
    flex-direction: column;
}

.bottom{
    align-self: flex-start;
    margin-top: auto;
}

/* Miscellaneous */
.button{
    background-color: rgba(253, 129, 187, 0.3);
    padding: 10px;
    text-decoration: none;
    border-radius: 5%;
    color: black;
}

/* I only used button-outline on this project, but you may like the other one more */
.button-outline{
    border: 2px solid  rgba(253, 129, 187, 0.3);
    padding: 10px;
    text-decoration: none;
    border-radius: 5%;
    color: black;
}

.link{
    text-decoration: none;
}

/* I had to double this code, because of the :hover and :active on link above */
.link-no-scale{
    text-decoration: none;
}

.no-padding-list-item{
    padding-left: 0;
}

.padding-list-10{
    padding: 10px;
}

.no-bullet-list{
    list-style-type: none;
}
/* ---------------------------------- */

/* --  nav bar flexbox organization to position buttons on opposite sides -- */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button {
    margin-left: auto;
}
/* ---------------------------------- */

@media screen and (max-width: 950px){
    .main-title{
        text-align: center;
    }

    .max-width{
        max-width: 450px;
    }
} 

@media screen and (max-width: 600px){
    .max-width{
        max-width: 100%;
        height: auto;
    }
}